{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" >  
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script> 
    <link rel="stylesheet" href="{% static 'css/styl.css' %}">
    
</head>
<body>
    <center>
        <div class="container-sm">
            <div id="div2">
                <h1>Todo List</h1>
            <form action="" method="post">
                {% csrf_token %}
                <table>
                    <tr>
                        <th>Item : </th>
                        <td><input type="text" name="item"></td>
                        <td><input type="submit" value="Add item" id="btn"></td>
                    </tr>
                    <tr>
                        <th hidden>order</th>
                        <td><input type="text" name="order" value="{{ order }}" hidden></td>
                    </tr>
                </table>
            </form>
            </div>
        </div>
    </center>
    <form action="update/{{ edit.item_id }}" method="post">
        {% csrf_token %}
        <div id="div3">
            <br><br><br><br>
            <table class="table table-bodered container table-primary" id="table">
                <tr>
                    <th>Order</th>
                    <th>Item</th>
                    <th>Submit</th>
                </tr>
                {% for i in view %}
                    <tr>
                        <td>{{ i.order }}</td>
                        <td><input type="text" name="item" value="{{ edit.item }}"></td>
                        <td><input type="submit" value="Update" id="btn"></td>
                    </tr>
                {% endfor %}
            </table>    
        </div>
    </form>
</body>
</html>